body {
    background-color: rgb(255, 243, 228);
}
button {
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: rgb(243, 244, 240);
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
}

/* task 1 - rotation square */

.animation_block {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.task_1_block {
    background-color: rgb(47, 70, 241);
    width: 400px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Impact, Haettenschweiler,
        'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    text-shadow: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* task 2.1 - 2.2 - two buttons, change color */

.task_2_block {
    background-color: rgb(164, 142, 242);

    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.subscribeNow_button {
    background-color: blueviolet;
    color: rgb(254, 253, 253);
    font-size: 16px;
    border-radius: 10px;
    transform: translate(0, 0);
    transition: all 0.5s linear;
}

.subscribeNow_button:hover {
    background-color: blueviolet;
    color: rgb(254, 253, 253);
    border-radius: 10px;
    transform: translate(0, 10px);
    box-shadow: 0px 22px 5px -10px rgba(34, 60, 80, 0.25);
}

.learnMore_button {
    background-color: rgb(0, 0, 0);
    color: rgb(254, 253, 253);
    border-radius: 25px;
    width: auto;
    font-size: 18px;
    transition: all 0.5s linear;
}

.learnMore_button:hover {
    background-color: rgb(36, 193, 55);
    color: rgb(254, 253, 253);
    border-radius: 25px;
    width: auto;
    transition-duration: 0.5s;
}

/* task 2.3 - four buttons, change color */

.task_3_block {
    background-color: rgb(240, 233, 240);
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 24px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alfa_button {
    background-color: rgb(33, 212, 253);
    color: rgb(179, 42, 253);
    transition: all 0.2s linear;
}

.alfa_button:hover {
    background-color: rgb(179, 42, 253);
    color: rgb(33, 212, 253);
    transition: all 0.2s linear;
}

.beta_button {
    background-color: rgb(8, 174, 234);
    color: rgb(42, 244, 153);
    margin-top: 10px;
    transition: all 0.2s linear;
}

.beta_button:hover {
    background-color: rgb(42, 244, 153);
    color: rgb(8, 174, 234);
    margin-top: 10px;
    transition: all 0.2s linear;
}

.gamma_button {
    background-color: rgb(253, 225, 64);
    color: rgb(249, 119, 146);
    margin-top: 10px;
    transition: all 0.2s linear;
}

.gamma_button:hover {
    background-color: rgb(249, 119, 146);
    color: rgb(253, 225, 64);
    margin-top: 10px;
    transition: all 0.2s linear;
}

.delta_button {
    background-color: rgb(62, 236, 172);
    color: rgb(234, 127, 214);
    margin-top: 10px;
    transition: all 0.2s linear;
}

.delta_button:hover {
    background-color: rgb(234, 127, 214);
    color: rgb(62, 236, 172);
    margin-top: 10px;
    transition: all 0.2s linear;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-around;
}
.clock-background {
    display: block;
}

.clock {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    background: red;
    margin-top: 265px;
    margin-left: 5px;
}

.second-arrow {
    width: 2px;
    height: 230px;
    background: red;
    position: absolute;
    margin-left: 10px;
    margin-top: 46px;
    animation: circle 60s infinite;
    transform-origin: 50% 100%;
    animation-timing-function: linear;
}

.minute-arrow {
    width: 6px;
    height: 160px;
    background: rgb(73, 34, 34);
    position: absolute;
    margin-left: 10px;
    margin-top: 110px;
    animation: circle 3600s infinite;
    transform-origin: 50% 100%;
    animation-timing-function: linear;
}

.hour-arrow {
    width: 12px;
    height: 110px;
    background: rgb(60, 9, 9);
    position: absolute;
    margin-left: 10px;
    margin-top: 170px;
    animation: circle 216000s infinite;
    transform-origin: 50% 100%;
    animation-timing-function: linear;
}

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}

.eq-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eq {
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    text-align: center;
    transform: scale(1, 1);
    transition: all 2s ease-in;
}
.eq:hover {
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    text-align: center;
    transform: scale(1, 3.5);
    transform-origin: bottom;
    background-color: brown;
    transition: all 0.2s ease-out;
}
